<div class="container" style="margin-top:200px; margin-bottom:80px">
    <cneter>
        <div style="text-align: center; font-weight: 700; font-size: 50px">
            주문완료 되었습니다.<br> 
            <span style="font-size: 25px">
                경남 2210011115607 / 예금주: 야한란(박일희)로<br>
                <span style="color: #24079C">'<%=@allprice%>원'</span> 보내주시면<br>
                입금확인후 연락드리겠습니다.<br>
            </span>
            <span style="font-size: 20px; color: #24079C">
                ☆★다가오는 월요일 기숙사 택배실로 배달됩니다!★☆<br>
            </span>
        </div>
    </cneter>
    <center style="margin-top:30px">
        <a href="/home/about">
            <button type="button" class="btn btn-default" style="center">돌아가기</button>
        </a>
    </center>
</div>
<hr>